<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Athena</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/main.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" id="mainTitile">Athena...</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="contact"><a href="/video">Face Recognition</a></li>
          <li id="contact"><a href="/morse_code">Morse Code</a></li>
          <li id="contact"><a href="/feed">FEED</a></li>
          <li id="contact"><a id="chatTag">Let's Chat!!</a></li>
        </ul>
    </div>
  </nav>
    <script>
      var dep = 4;
      if(dep > 5){
        document.getElementById("chatTag").href = "https://shielded-fortress-71286.herokuapp.com/";
      }
      else{
        document.getElementById("chatTag").href = "https://evening-inlet-78205.herokuapp.com/";
      }
    </script>
  <body>
    <div class="container">
      <h1>Home</h1>
        

    </div>
  <div class="footer-padding"></div>
    <div class="footer">
      <p>🌸🌼 <B>Jai Shree Mataji</B> 🌼🌸 (Found any issue or bugs please report an issue here GitHub: <a href="https://github.com/ShenpaiSharma" style="color:black">ShenpaiSharma</a>)</p>
    </div>
  </body>
</html>